@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@plugin "daisyui" {
    themes: all;
}

@font-face {
    font-family: "Moma";
    src: local('Moma'), url('@/assets/fonts/moma-sans__regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "Moma";
    src: local('Moma'), url('@/assets/fonts/moma-sans__regular--italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Moma";
    src: local('Moma'), url('@/assets/fonts/moma-sans__bold.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: "Moma";
    src: local('Moma'), url('@/assets/fonts/moma-sans__bold--italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Johnston100";
    src: url('@/assets/fonts/Johnston100_Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "Johnston100";
    src: url('@/assets/fonts/Johnston100_Hairline.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "Johnston100";
    src: url('@/assets/fonts/Johnston100_Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "Johnston100";
    src: url('@/assets/fonts/Johnston100_Medium.woff2') format('woff2');
    font-weight: 500 700;
}

.bkrpage p {
    @apply text-body mb-5;
}

.bkrpage strong, .bkrpage b {
    @apply font-bold;
}

.bkrpage a {
    @apply font-medium text-fg-brand hover:underline;
}

.bkrpage h1 {
    @apply text-4xl font-bold text-heading;
}

.bkrpage h2 {
    @apply text-3xl font-bold text-heading;
}

.bkrpage h3 {
    @apply text-2xl font-bold text-heading;
}

.bkrpage h4 {
    @apply text-xl font-bold text-heading;
}

.bkrpage h5 {
    @apply text-lg font-bold text-heading;
}

.bkrpage h6 {
    @apply font-bold text-heading;
}

.bkrpage ul {
    @apply space-y-1 text-body list-disc list-inside;
}

.bkrpage .card {
    @apply w-full bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs mb-4;
}

.bkrpage .card-header {
    @apply mb-3 text-2xl text-center tracking-tight font-semibold text-heading;
}

